*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(41, 118, 144);
}

/* for leaflet */
/*  need to display block, then on click we can display block on map */
#main-container{
    display: block;
    position: relative;
}
#map{
  height: 93vh;
  
    
}

button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.nav-header{
    display: flex;
    
    list-style-type: none;
    justify-content: end;
    flex-wrap: wrap;
    position: relative;
    background: rgba(45, 37, 37, 0.9);
    box-shadow: .01rem .01rem .5rem .01rem black;
    padding: 0rem .25rem;
    min-height: 3.5rem;
 
}


.nav-header > .nav-children{
    padding: 1rem 1rem;
    color: white;
}
.nav-children:hover{
    background: white;
    border: 1px solid black;
    border-radius: .5rem;
    color: black;
    cursor: pointer;
    max-height: 3.15rem;
    
    
}

#hidden-menu{
   display: flex;
   position: absolute;
    top: 3rem;
   flex-direction: column;
   padding: 1rem 0rem;
   background: rgba(45, 37, 37, 0.9);
   box-shadow: .01rem .01rem .5rem .01rem black;
   /* makes the hamburger icons show up. */
   z-index: 500
}
.hidden-children{
padding: .5rem;
font-size: 1.1rem;
color: white;
cursor: pointer;
display: none;
}
.hidden-children:hover{
    background: white;
    color: black;
}

.left1{
    position: absolute;
    left: 3rem;
    top: -2rem;
}
 i.lighting, i.fa-bars{
   color: white;
  
}

.right1{
    position: absolute;
    right: 1rem;
    top: -5rem;
    display: none;
   
}


.left2{
    position: absolute;
   left: 5rem;
   color: white;
}
.left2:hover{
    position: absolute;
   left: 5rem;
    background: none;
    border: none;
    color: white;
}
.input{
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    background: none;
}
input::placeholder{
    color: white;
    
}
.input-container{
    padding: 2rem;
 
}
#main-container{
    background: linear-gradient(45deg, navy,rgb(5, 5, 175),rgb(84, 84, 254),purple,rgb(156, 4, 156));
    max-width: 50vw;
   box-shadow: .5rem .25rem 2rem .25rem black;
    margin: auto;
    height: 32rem;
    border-radius: 1rem;
    margin-top: 5rem;
   
}

.fa-solid, .fa-light{
    display: flex;
    justify-content: center;
    padding: 2.5rem .25rem 1rem 0rem;
    color: rgba(45, 37, 37, 0.7);
}
.temp{
    font-size: 2rem;

}
.weather{
    color: white;
    padding: 0rem;
}
.weather-main{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}
#date-container{
    display: flex;
    justify-content: space-around;
    
}
#content-container{
    text-align: center;
}

#max-min-container{
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    padding: .5rem 1rem;
}
button a{
    color:white;
}

.date-children{
    font-family:Arial, Helvetica, sans-serif;
   
}

.location{
    text-align: center;
    
    font-size: 1.2rem;
    color: white;
    
}

#humidity-container{
    text-align: center;
    padding: 1rem;
}

.weather-content-deg{
    font-size: 1.2rem;
    color: whitesmoke;
    
}
#bottom-container{
    height: 10rem;
    background: linear-gradient(45deg, rgb(30, 30, 199), purple);
    transform: rotateX('20deg');
    border-radius: 1rem;
}

#myButton{
    display: block;
    position: absolute;
    right: 0;
    padding: .5rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: .4rem;
    color: white;
    background-color: orange;
    border: none;
    width: 3rem;
    height: 2rem;
}

#myButton, a{
    color: orangered;
    text-decoration: none;
}



/* media queries */

@media screen and (max-width: 600px){
   .nav-children{

    display: none;
   }
   .right1{
    display: block;
   }
   .left2{
    display: block;
   }
}