*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(41, 118, 144);
}

button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}
.nav-header{
    display: flex;
    list-style-type: none;
    justify-content: end;
    flex-wrap: wrap;
    position: relative;
    background: rgba(45, 37, 37, 0.9);
    box-shadow: .01rem .01rem .5rem .01rem black;
}
.nav-children{
    padding: 1rem 1rem;
    color: white;
}
.nav-children:hover{
    background: white;
    color: black;
}
.left1{
    position: absolute;
    left: 3rem;
    top: -2rem;
}
 i.lighting{
   color: white;
  
}


.left2{
    position: absolute;
   left: 5rem;
   color: white;
}
.input{
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    background: none;
}
input::placeholder{
    color: white;
    
}
.input-container{
    padding: 2rem;
 
}
#main-container{
    background: linear-gradient(45deg, navy,rgb(5, 5, 175),rgb(84, 84, 254),purple,rgb(156, 4, 156));
    max-width: 50vw;
   box-shadow: .5rem .25rem 2rem .25rem black;
    margin: auto;
    height: 32rem;
    border-radius: 1rem;
    margin-top: 5rem;
   
}

.fa-solid, .fa-light{
    display: flex;
    justify-content: center;
    padding: 2.5rem .25rem 1rem 0rem;
    color: rgba(45, 37, 37, 0.7);
}
.temp{
    font-size: 2rem;

}
.weather{
    color: white;
    padding: 0rem;
}
.weather-main{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}
#date-container{
    display: flex;
    justify-content: space-around;
}
#content-container{
    text-align: center;
}

#max-min-container{
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    padding: .5rem 1rem;
}
button a{
    color:white;
}

.date-children{
    font-family:Arial, Helvetica, sans-serif;
   
}

.location{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: white;
}

#humidity-container{
    text-align: center;
    
}

.weather-content-deg{
    font-size: 1.2rem;
    color: whitesmoke;
    
}
#bottom-container{
    height: 10.5rem;
    background: linear-gradient(45deg, rgb(30, 30, 199), purple);
    transform: rotateX('20deg');
    border-radius: 1rem;
}

